{% extends "layouts/default.html" %}

{% block title %} Canzoni {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h1>Le canzoni della Santa Mesa</h1>
    <section>
        <h3>El Virolai</h3>
        <pre><code>
            Rosa d’abril, Morena de la serra,
            de Montserrat estel:
            il·lumineu la catalana terra,
            guieu-nos cap al Cel.

            Amb serra d’or els angelets serraren
            eixos turons per fer-vos un palau.
            Reina del Cel que els Serafins baixaren,
            deu-nos abric dins vostre mantell blau.
        </code></pre>
    </section>
    </hr>
    <img class="virolai" src="/static/images/virolai.jpg" alt="" />

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
