{% extends "layouts/default.html" %}

{% block title %} Canzoni {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h1>Le canzoni della Santa Messa</h1>
    <section>
        <h3>Guarda questa offerta</h3>
        <pre><code>
            Guarda questa offerta,
            guarda a noi, Signor:
            tutto noi t'offriamo
            per unirci a Te.

            <b>
            Nella tua Messa la nostra Messa
            nella tua vita la nostra vita.
            Nella tua Messa la nostra Messa
            nella tua vita la nostra vita.
            </b>

            Che possiamo offrirti,
            nostro Creator?
            Ecco il nostro niente
            prendilo, o Signore.

            <b>
            Nella tua Messa la nostra Messa
            nella tua vita la nostra vita.
            Nella tua Messa la nostra Messa
            nella tua vita la nostra vita.
            </b>
        </code></pre>
        <h3>i Cieli narrano</h3>
        <pre><code>
            <b>
            Rit. I cieli narrano la gloria di Dio
            e il firmamento annunzia l'opera sua.
            Alleluia, alleluia. Alleluia, alleluia.
            </b>

            1) Il giorno al giorno ne affida il messaggio,
            la notte alla notte ne trasmette notizia
            non è linguaggio non sono parole
            di cui non si oda il suono.

            2) Là pose una tenda per il sole che sorge,
            è come uno sposo dalla stanza nuziale;
            esulta come un prode che corre
            con gioia la sua strada.

            3) Lui sorge dall'ultimo estremo del cielo
            e la sua corsa l'altro estremo raggiunge.
            Nessuna delle creature potrà
            mai sottrarsi al suo calore.
        </code></pre>
        <h3>El Virolai</h3>
        <pre><code>
            <b>
            Rosa d’abril, Morena de la serra,
            de Montserrat estel:
            il·lumineu la catalana terra,
            guieu-nos cap al Cel.
            </b>

            Amb serra d’or els angelets serraren
            eixos turons per fer-vos un palau.
            Reina del Cel que els Serafins baixaren,
            deu-nos abric dins vostre mantell blau.
        </code></pre>
    </section>
    </hr>
    <h3>Spartiti</h3>
    <img class="virolai" src="/static/images/offerta1.jpg" alt="" />
    <img class="virolai" src="/static/images/offerta2.jpg" alt="" />
    <img class="virolai" src="/static/images/celi_narrano1.jpg" alt="" />
    <img class="virolai" src="/static/images/celi_narrano2.jpg" alt="" />
    <img class="virolai" src="/static/images/virolai.jpg" alt="" />

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
