{% extends "layouts/default.html" %}

{% block title %} Ci sposiamo! {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <header>
            <h1>
				Ci sposiamo!
			</h1>
			<h2>27 Maggio 2023</h2>
        </header>

		<section class="tiles">
			<article class="style5">
				<span class="image">
					<img src="/static/images/pic01.jpg" 
					     alt="Monestir de Sant Joan les Fonts" />
				</span>
				<a href={{ url_for('monestir') }}>
					<h2>Cerimonia</h2>
					<i class="fa fa-clock-o" aria-hidden="true"> Ore 12:00</i>
					<i class="fa fa-map-marker" aria-hidden="true"> Monestir de Sant Joan les Fonts</i>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="/static/images/pic02.jpg" alt="Restaurant la Moixina" />
				</span>
				<a href={{ url_for('restaurant') }}>
					<h2>Ricevimento</h2>
					<div class="content">
						<i class="fa fa-cutlery" aria-hidden="true"> Restaurant Font Moixina</i>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="/static/images/pic03.jpg" alt="Galeria" />
				</span>
				<a href={{ url_for('post_comentaris') }}>
					<h2>Conferma la tua partecipazione</h2>
					<div class="content">
						<i class="fa fa-quote-right" aria-hidden="true"> Conferma, allergie, intoleranze...</i>
					</div>
				</a>
			</article>
		</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
