{% extends "layouts/default.html" %}

{% block title %} Monastero {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<h2>Informazioni</h2>
	<p><i class="fa fa-clock-o" aria-hidden="true"></i> La Messa inizierà alle ore 12. <br>
		<i class="fa fa-bus" aria-hidden="true"></i> L'appuntamento è sotto l'hotel dove alloggiate (Hotel La Perla e Hotel Borrell) alle <strong>ore 11</strong> dove vi passerà a prendere il pullman.<br>
		<i class="fa fa-car" aria-hidden="true"></i> Per chi verrà in macchina, vi verrà indicato all'arrivo dove parcheggiare.<br>
		Si prega di vestire con decoro e rispetto all'interno della chiesa.</p>
	<section>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2954.851896653543!2d2.5103253288557634!3d42.217609912657245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12bab58e0a718929%3A0xfd65fa60bee03e43!2sMonestir%20de%20Sant%20Joan%20les%20Fonts!5e0!3m2!1sit!2sit!4v1677800668259!5m2!1sit!2sit" width="390" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>
	<hr>
	<a href="https://www.monestirs.cat/monst/garrot/gt18font.htm" class="button primary small">Il Monastero</a>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
