{% extends "layouts/default.html" %}

{% block title %} Restaurant la Moixina {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<h1>Ricevimento</h1>
	<p>Dopo la cerimonia, continueremo la festa presso il Ristorante Font Moixina, una location immersa nella Riserva Naturale della Zona Vulcanica della Garrotxa.<br>
	<i class="fa fa-bus" aria-hidden="true"></i> Alla fine della festa ci sarà un pullman che vi riaccompagnerà in hotel.<br>
	Saranno a vostra disposizione diversi salvatacchi</p>
	<div class="mappa-responsive">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.2399089701876!2d2.4832072153880396!3d42.16654957920031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12bacb007aaaaaab%3A0xae09e7e670334446!2sRestaurant%20Font%20Moixina!5e0!3m2!1sit!2sit!4v1677800448088!5m2!1sit!2sit" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<hr>
	<a href="https://lamoixina.com/" class="button primary small">Il ristorante</a>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
