{% extends "layouts/default.html" %}

{% block title %} Restaurant la Moixina {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<h1>Ubicaciò Restaurant Font Moixina</h1>
	<section>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.239908970186!2d2.483207215290409!3d42.166549579200336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12bacb007aaaaaab%3A0xae09e7e670334446!2sRestaurant%20Font%20Moixina!5e0!3m2!1sen!2sit!4v1676587753649!5m2!1sen!2sit" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<hr />
		<a href="https://lamoixina.com/" class="button small">Lloc web del restaurant</a>
	</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
