{% extends "layouts/default.html" %}

{% block title %} Wrong things {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h1>S'ha produït un error</h1>
    <p>
        Alguna cosa ha anat malament. Potser ja existeix una resposta registrada amb el mateix nom.
        <br>Prova d'utilitzar el nom complet, si no funciona si us plau contacta amb nosaltres.
        <br>Torna a <a href="/">Casa</a>
    </p>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
