{% extends "layouts/default.html" %}

{% block title %} Ens casem! {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <header>
            <h1>
				Ens casem!
			</h1>
			<h2>27 de Maig de 2023</h2>
        </header>

		<section class="tiles">
			<article class="style5">
				<span class="image">
					<img src="/static/images/pic01.jpg" 
					     alt="Monestir de Sant Joan les Fonts" />
				</span>
				<a href={{ url_for('monestir') }}>
					<h2>Cerimònia</h2>
					<p><i class="fa fa-clock-o" aria-hidden="true"></i> Ore 12:00<br><i class="fa fa-map-marker" aria-hidden="true"></i> Monestir de Sant Joan les Fonts</p>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="/static/images/pic02.jpg" alt="Restaurant la Moixina" />
				</span>
				<a href={{ url_for('restaurant') }}>
					<h2>Àpat</h2>
					<p><i class="fa fa-cutlery" aria-hidden="true"></i> Restaurant Font Moixina</p>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="/static/images/pic03.jpg" alt="Galeria" />
				</span>
				<a href={{ url_for('post_comentaris') }}>
					<h2>Confirma la teva assistència</h2>
					<p><i class="fa fa-envelope" aria-hidden="true"></i> Confirma, al·lèrgies...</p>
				</a>
			</article>
		</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
