{% extends "layouts/default.html" %}

{% block title %} Monestir {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<h2>Informacio</h2>
	<p>La cerimònia comencara a les 12. Es prega de ser puntuals.</p>
	<p>Es prega de guardar respecte en la vestimenta durant la cerimonia</p>

	<h2>Ubicaciò Monestir Sant Joan les Fonts</h2>
	<section>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2954.851893540063!2d2.5126213152921704!3d42.21760997919679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12bab58e0a718929%3A0xfd65fa60bee03e43!2sMonestir%20de%20Sant%20Joan%20les%20Fonts!5e0!3m2!1sen!2sit!4v1676587945574!5m2!1sen!2sit" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<hr />
	</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
