{% extends "layouts/default.html" %}

{% block title %} Per mio fratellino {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Per mio fratellino</h2>
    <section>
        <pre><code>
            Resterai sempre il mio fratellino rompiscatole e vivace me una delle persone più intelligenti che conosca: non c’è situazione che non sai fronteggiare o una risposta che non sai dare.
Sono orgogliosa dell’uomo che sei diventato e so ci sarai sempre per me come io ci sarò sempre per te. Dal primo istante in cui sei entrato nella mia vita ti ho voluto bene e, nonostante le numerose litigate e discussioni, sei e resterai sempre il mio fratello preferito 😛 Ti auguro con tutto il cuore di trovare una persona alla tua altezza, che ti ami come meriti e che metta la tua felicità al primo posto. Grazie per essere parte del giorno più importante della mia vita e di quella di Francesc. Ti voglio tanto bene fratellino <3
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}