{% extends "layouts/default.html" %}

{% block title %} Alla mia amica Annalisa {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Alla mia amica Annalisa</h2>
    <section>
        <pre><code>
            Grazie per essere la mia migliore amica ed ora la mia testimone di nozze: chi l’avrebbe mai detto che con il tempo saremmo diventate così unite e inseparabili? Grazie per essere sempre leale e disponibile. Grazie per esserci sempre, nonostante i tanti chilometri che ci separano, nonostante tutto e tutti. Grazie per essere parte di questa giornata indimenticabile: non ce l’avrei fatta senza di te! Ti auguro il meglio: che tu possa raggiungere tutti i tuoi obiettivi, e ricorda che io sarò sempre al tuo fianco per festeggiarli con te. Ti voglio tanto bene <3
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}