{% extends "layouts/default.html" %}

{% block title %} Alla mia amica Silvia {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Alla mia amica Silvia</h2>
    <section>
        <pre><code>
            Da quella prima settimana dei giovani nel 2016 ci siamo da subito trovate, diventando grandi amiche che condividono tante cose e tante bellissime esperienze.
Grazie per essere parte della mia vita, di essere sempre leale e disponibile: mi fa un enorme piacere poter condividere con te la gioia di questa giornata indimenticabile e così importante. Spero che anche tu possa trovare un compagno di vita, che ti faccia sentire felice come lo sono io. Ti voglio bene <3
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}