{% extends "layouts/default.html" %}

{% block title %} Silvia {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Per mia amica Silvia</h2>
    <section>
        <pre><code>
            Da quando ci siamo conosciute siamo diventate subito amiche: due inguaribili romantiche!
Grazie per essere parte della mia vita, di essere sempre leale e disponibile e mi fa un enorme piacere poter condividere con te la gioia di questa giornata indimenticabile e così importante. Spero che anche tu possa trovare un compagno di vita che ti faccia essere felice come lo sono io. Ti voglio bene <3
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}