{% extends "layouts/default.html" %}

{% block title %} Alla mia sorellina Elisa {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Alla mia sorellina Elisa</h2>
    <section>
        <pre><code>
            Anche se non sei più una bambina, rimarrai sempre la mia sorellina. Ti auguro di poter realizzare tutti i tuoi sogni. Grazie per essere la mia testimone in questo giorno così importante per la mia vita. Love you <3
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}