{% extends "layouts/default.html" %}

{% block title %} Lucrezia {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Per mia amica Lucrezia</h2>
    <section>
        <pre><code>
            Mia cara e spumeggiante amica: non c’è trend in fatto di cura e bellezza che ti sfugga! Grazie per essere qui a condividere con noi questo giorno indimenticabile. Ti auguro di poterti realizzare nella vita come tu desideri e di poter trovare qualcuno che possa supportarti (e sopportarti 😛!) come meriti! Ti voglio bene <3
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}