{% extends "layouts/default.html" %}

{% block title %} Alla mia amica Lucrezia {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Alla mia amica Lucrezia</h2>
    <section>
        <pre><code>
            Mia cara e spumeggiante amica: non c’è trend in fatto di cura e bellezza che ti sfugga! Grazie per essere qui per condividere con noi questo giorno indimenticabile. Ti auguro di poterti realizzare nella vita come tu desideri e di poter trovare qualcuno alla tua altezza. Ti voglio bene <3
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}