{% extends "layouts/default.html" %}

{% block title %} A mia sorella Chiara {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>A mia sorella Chiara</h2>
    <section>
        <pre><code>
            Anche se siamo estremamente diverse, mi è difficile pensare che tu non sia al mio fianco nei momenti di difficoltà ma soprattutto in quelli di gioia, come in questo giorno così importante. La prossima sei tu eeeeh :)
Grazie per essere la mia testimone, love you <3
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}