{% extends "layouts/default.html" %}

{% block title %} Pepe Nero Tellicherry {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Per Davide</h2>
    <section>
        <pre><code>
            Proveniente dall'India, prende il nome dalla regione di Thalassery, dove viene coltivato.
            È un pepe molto piccante ed esalta piatti dal sapore molto deciso.
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}