{% extends "layouts/default.html" %}

{% block title %} Pepe Nero Tellicherry {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Per Davide</h2>
    <section>
        <pre><code>
            Ciao Da!
            In questo evento così speciale per Maria e per me, non ti dimentichiamo, e lo facciamo con questo piccolo dettaglio.
            Forse non sarà una bomboniera, ma speriamo che serva ad arricchire i vostri piatti sardi!
            <br>
            Il Pepe Nero Tellicherry, proveniente dall'India, prende il nome dalla regione di Thalassery, dove viene coltivato.
            È un pepe molto piccante ed esalta piatti dal sapore molto deciso.
            <br>
            A presto!
            Francesc e Maria
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}