{% extends "layouts/default.html" %}

{% block title %} Cose nostre {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h1>Le nostre cose! :)</h1>
    <p>Il nostro ballo</p>
    <iframe width="390" height="315" src="https://www.youtube.com/embed/ytUZfddj95g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <hr>
    <p>La nostra canzone d'ingresso</p>
    <iframe width="390" height="315" src="https://www.youtube.com/embed/qFztWkQMiE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <hr>
	<p>La nostra playlist...</p>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}