
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h3>
                    <a href="#">Francesc&Maria</a>
                </h3>
                <p>
                    <i>L'amor és entrega i l'entrega augmenta l'amor.</i>
                    </br>
                    Mare Trinidad de la Santa Madre Iglesia
                </p>
            </section>
            <section>
                <h2>#casorifm</h2>
                <h2>#matrimoniofm</h2>
                <ul class="icons">
                    <li><a href="https://www.instagram.com/explore/tags/casorifm/"   class="icon style2 fa-instagram"><span class="label">#casorif&m</span></a></li>
                </ul>
            </section>
            <ul class="copyright">
                <li>Maria i Francesc 2023 &copy;</li>
                <li>Coded by <a href="http://www.github.com/francescpuig7">Francesc Puig</a></li>
                {% if current_user.is_authenticated %}
					<li></li><strong>Ets dins!</strong>, <a href={{ url_for('logout') }}>Logout</a></li>
				{% endif %}
            </ul>
        </div>
    </footer>


