
    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>

            <li><a href="/">Home</a></li>
            <li><a href={{ url_for('monestir') }}>Cerimonia</a></li>
            <li><a href={{ url_for('restaurant') }}>Ricevimento</a></li>
            <li><a href={{ url_for('post_comentaris') }}>Informazioni</a></li>
            <li><a href={{ url_for('get_cancons') }}>Canzoni</a></li>
            {% if current_user.is_authenticated %}
                <li><a href={{ url_for('get_comentaris') }}>Elenco informazioni</a></li>
                <li><a href={{ url_for('get_coses') }}>Le nostre cose</a></li>
                <li><a href={{ url_for('gallery') }}>Gallery</a></li>
                <li><a href={{ url_for('logout') }}>Log Out</a></li>
            {% else %}
                <li><a href={{ url_for('login') }}>Area riservata</a></li>
            {% endif %}

        </ul>
    </nav>

