{% extends "layouts/default.html" %}

{% block title %} Anna Puig {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Per a la meva germaneta</h2>
    <section>
        <pre><code>
            Anna, en un dia tan important per a tu i per a mi, et vull dedicar unes paraules:<br>
Anna, sempre has set la meva petita, i jo he set sempre el teu pi. La relació que he tingut amb tu no l'he tingut amb cap altra germana. Veure't créixer i créixer també al teu costat ha set un regal. Hem rigut, hem jugat, hem lluitat (saaaamurai) i la veritat, he tingut una excusa per jugar quan era adolescent amb tu, i mira que és una edat on la gent ja no juga. Però amb tu he tingut l'excusa i ho he pogut aprofitar.
Recordo com si fos avui, quan la mare i el pare ens van dir que estaven embarassats de tu, quina il·lusió! Vaig poder seguir les ecografies, el teu naixement, quan eres més petita que un pèsol tenir-te en braços, cuidar-te, i ser el teu padrí de bateig! Això em va convertir en el pi, que és un nom i sobretot una funció que m'agrada molt. Has anat creixent i ja t'has fet tota una dona, i no podria estar més orgullós de tu. Perquè hem tingut la sort de passar molt de temps junts, tot i que ara et trobo a faltar, em quedo amb els mil records i moments bons que he passat amb tu.
Ets la petita de casa, però espiritualment ets molt forta i valenta, i això realment es el que compte perquè som carn i esperit i com ens diu la Madre, qui no emplena l'esperit és un home anormal.
Hem disfrutat molts moments, les teves festes d'aniversari, les temes amigues, la teva comunió, els viatges amb la família... només et demanaré una cosa, no perdis mai la teva essència, no canviïs mai, no oblidis mai qui ets i sobretot no deixis que el món et digui qui has de ser i que has de fer... segueix confiant en el Senyor i demana-li que vol de tu, quina és la seva voluntat.
Avui és el dia més important de la meva vida, perquè juntament amb la Maria, formem una família, una família Cristiana, i estem contentíssims que hi puguis ser i que puguis formar part d'aquest dia tan important.
No saps com t'estimo Anna, la meva germaneta, la meva petita, la meva pinassa....!

El teu germà que molt t'estima.
Francesc
        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

