{% extends "layouts/default.html" %}

{% block title %} Als millors tius de l'UDG {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h2>Als millors tius de l'UDG</h2>
    <section>
        <pre><code>
            Estimats Iniesta, Boua, Marcelinho Huertas, Descampos, Crous, Canet...
En un dia tan important per la Maria i per mi només us volia dir que us estimo moltíssim i donar-vos les gràcies per ser-hi i que aquests anys d'uni i post-uni han estat meravellosos!

Intentaré recordar en una frase algunes anècdotes nostres:

Perdona senyor que em canvia el cotxe? Perquè aquesta nit hi ha una festa perquè juga l'Andrés Iniesta degut a que en Canet és net i no és brut ja que en Crous no s'ha tatuat mai perquè una boua sortia pel chatroulette mentre en Descamps preparava calçots a casa seva perquè se li havia espatllat la Texas, mentre en Pol que juga a l'Unicaja que entrena darrere del Càdis cantava fonaments però sense arribar mai tard a classe perquè a la biblioteca sempre hi ha lloc si hi vas amb n'alba que si et descuides i no et poses a s'arrapairu quedaràs brut com en cabrut.

El vostre amic Puxi

        </code></pre>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

